<html>
	<body>
		<form method="POST" action="/animal">
			<label for="name1">Enter type of your animal</label>
			<input type = "text" name="dog" />
			<br />
		<label for="name1">Select name: </label>
			<select name = "type">
				<option value = "fen">FEN</option>
				<option value = "earvin">EARVIN</option>
				<option value = "putong">PUTONG</option>
				<option value = "oliver">OLIVER</option>
			</select>
			<br />
			<input type = "submit" value = "Summooooon!" />
		</form>
	</body>
</html>
