<html>
	<head>
			<style type = "text/css">
			body{background-color: rgb(100,255,255);}
		</style>
	</head>
	<body>
		<h1>You searched for <%= @term %></h1>
		<% if @term == 'Earvin' or @term == 'earvin' %>
			<h1>THIS PROGRAM WILL SELF DESTRUCT</h1>
	</body>
</html>
